.replies-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-left: 3px solid $lightGray;
  width: 92%;
  gap: 30px;
}

.reply {
  width: 95%;
}
